<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

**Exercise 1: Create a Jupyter Notebook**

Create a new Jupyter notebook called DataScienceEcosystem.ipynb

**Exercise 2: Create markdown cell with title of the notebook**

Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

Take a screenshot of the markdown cell and name it as 2-title.png

# Data Science Tools and Ecosystem

In [ ]:
# Data Science Tools and Ecosystem

**Exercise 3 - Create a markdown cell for an introduction**

Write an introductory sentence about the notebook such as the follows:

In this notebook, Data Science Tools and Ecosystem are summarized.
Take a screenshot of the markdown cell and name it as 3-intro.png

This notebook outlines the data science ecosystem and tools. It will be used to demonstrate what has been learned in the data science tools module

In [ ]:
This notebook outlines the data science ecosystem and tools. It will be used to demonstrate what has been learned in the data science tools module

**Exercise 10 - Insert a markdown cell to list Objectives**

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.
Take a screenshot of the markdown cell and name it as 10-objectives.png

**Objectives:**

* List popular languages for Data Science.
* Introduce common libraries used in Data Science.
* Demonstrate arithmetic expressions in Python.
* Convert minutes to hours using Python.

In [ ]:
**Objectives:**

* List popular languages for Data Science.
* Introduce common libraries used in Data Science.
* Demonstrate arithmetic expressions in Python.
* Convert minutes to hours using Python.

**Exercise 4 - Create a markdown cell to list data science languages**

Start the cell with an overview line such as:

Some of the popular languages that Data Scientists use are:
Then create an ordered list (i.e. numbered) listing 3 (or more) commonly used languages for data science.
Take a screenshot of the markdown cell and name it as 4-dslanguages.png

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

In [ ]:
Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

**Exercise 5 - Create a markdown cell to list data science libraries**

Add an overview line to the cell like:

Some of the commonly used libraries used by Data Scientists include:
Below this line add an ordered list listing 3 (or more) commonly used libraries in data science.
Take a screenshot of the markdown cell and name it as 5-dslibraries.png

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib

In [ ]:
Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib

**Exercise 6 - Create a markdown cell with a table of Data Science tools**

Create a single column table in this cell with the first row containing the header Data Science Tools. The subsequent three rows in the table should indicate three development environment open source tools used in data science.

Take a screenshot of the markdown cell and name it as 6-dstools.png

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Anaconda           |

In [ ]:
| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Anaconda           |

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

Add a line in this cell with H3 style heading with text like:

Below are a few examples of evaluating arithmetic expressions in Python.
Take a screenshot of the markdown cell and name it as 7-introarithmetic.png

### Below are a few examples of evaluating arithmetic expressions in Python.

- Addition: `2 + 3 = 5`
- Subtraction: `5 - 2 = 3`
- Multiplication: `4 * 5 = 20`
- Division: `10 / 2 = 5`
- Exponentiation: `2 ** 3 = 8`
- Modulo (Remainder): `10 % 3 = 1`

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python.

- Addition: `2 + 3 = 5`
- Subtraction: `5 - 2 = 3`
- Multiplication: `4 * 5 = 20`
- Division: `10 / 2 = 5`
- Exponentiation: `2 ** 3 = 8`
- Modulo (Remainder): `10 % 3 = 1`

**Exercise 8 - Create a code cell to multiply and add numbers**

In this code cell evaluate the expression (3*4)+5.
Insert a comment line before the expression to explain the operation e.g.  This a simple arithmetic expression to mutiply then add integers.
Then execute the cell to ensure the expression returns the expected output of 17.
Take a screenshot of the code cell with output and name it as 8-multiplyandaddintegers.png

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

**Exercise 9 - Create a code cell to convert minutes to hours**

In this code cell write an expression that converts 200 minutes into hours.
Insert a comment line before the expression to explain the operation e.g.  This will convert 200 minutes to hours by diving by 60.
Run the cell to evaluate the expression.
Take a screenshot of the code cell with output and name it as 9-hourstominutes.png

In [7]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

**Exercise 11 - Create a markdown cell to indicate the Author's name**

In this markdown cell markdown cell include the following text Author in H2 style heading. Include your name as regular text below the word Author.
Take a screenshot of the markdown cell and name it as 11-authordetails.png

## Author
## Acxel David Castillo

In [ ]:
## Author
## Acxel David Castillo